<section>
  <a href={{c.url}}>
    <div class="card shadow">
      <div class="row g-0">
        <div class="col-md-4">
          {{#unless c.isMuted}}
            {{#if c.uploaded_logo.url}}
              {{cdn-img src=c.uploaded_logo.url
                  class="logo"
                  width=c.uploaded_logo.width
                  height=c.uploaded_logo.height}}
            {{/if}}
          {{/unless}}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title custom-category-title">
              {{!-- <h2 id="custom-category-title"> --}}
                {{!-- {{category-title-before category=c}} --}}
                {{!-- {{#if c.read_restricted}}
                  {{d-icon 'lock'}}
                {{/if}} --}}
                {{c.name}}
                {{!-- ({{c.topic_count}}) --}}
              {{!-- </h2> --}}
            </h5>
            <p class="description">{{ description }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>
