<section>
  <a href={{c.url}}>
    <div class="card shadow">
      <div class="container-row">
        <div class="container-column container-column-image">
          {{#unless c.isMuted}}
            {{#if c.uploaded_logo.url}}
              {{cdn-img src=c.uploaded_logo.url
                  class="logo"
                  width=c.uploaded_logo.width
                  height=c.uploaded_logo.height}}
            {{else}}
              <div class="no-image">
                <span>No image</span>
              </div>
            {{/if}}
          {{/unless}}
        </div>
        <div class="container-column container-column-body">
          <div class="card-body">
            <h5 id="custom-category-title" class="card-title" >
                {{c.name}}
            </h5>
            <p class="description">{{ description }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>
